<div id="comments-list">
    {{#commentDtos}}
        <div class="card m-2" id="comments-{{id}}"> <!--comments-1, comments-2...-->
            <div class="card-header">
                {{nickname}}
            </div>
            <div class="=card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>